<!doctype html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page_title }} | {{ shop.name }}</title>
    {{ content_for_header }}
    <style>
      :root {
        --color-primary: {{ settings.color_primary | default: '#1e73be' }};
        --color-dark: {{ settings.color_dark | default: '#111111' }};
        --color-gray: {{ settings.color_gray | default: '#f2f2f2' }};
        --color-text: {{ settings.color_text | default: '#e9e9e9' }};
      }
    </style>
    {{ 'theme.css' | asset_url | stylesheet_tag }}
  </head>
  <body class="theme-auto-parts">
    {% section 'header' %}
    <main id="MainContent" role="main" class="container">
      {{ content_for_layout }}
    </main>
    {% section 'footer' %}
    {{ 'theme.js' | asset_url | script_tag }}
  </body>
  </html>

